<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <img style="width: 200px; height: 200px;" src="http://localhost:3000/static/images/{{message.img}}" alt="">
    <h1>Name:{{message.name}}</h1>
    <p>Description: {{message.description}}</p>
    <p>Rating: {{message.rating}}</p>
  </body>
</html>